html,
body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  font-family: 'Nunito Sans', sans-serif;
  background-color: #000;
}

h1 {
  color: #fff;
  font-family: 'Rye', cursive;
  font-size: 30px;
  margin: 0;
  line-height: 40px;
  letter-spacing: 2px;
}

h2, h3 {
  margin: 0;
}