.fa-calendar-check-o,
.fa-user,
.fa-times-circle {
  font-size: 2rem;
}

.fa-calendar-check-o {
  margin-right: 4px;
}

.fa-minus-circle,
.fa-plus-circle {
  font-size: 1.6rem;
}

.fa-check-circle-o {
  font-size: 4rem;
  color: $orange;
}
